# Игнорировать системные или временные файлы
.DS_Store
Thumbs.db

# Игнорировать каталоги виртуального окружения
venv/
env/

# Игнорировать каталоги и файлы настроек среды разработки
.idea/
.vscode/
*.iml

# Игнорировать скомпилированные файлы Python
__pycache__/
*.pyc
*.pyo

# Игнорировать каталоги и файлы, создаваемые инструментами сборки
.build/
target/

# Игнорировать файлы, создаваемые Git
*.orig

# Игнорировать файлы кэша
.cache/
pytest_cache/

# Игнорировать файлы, содержащие конфиденциальную информацию
.env
.env.local